#mainContainer
{
	margin-top: 50px;
	padding: 0px;
}

#mainContent
{
	padding: 0px;
}

#pictureSliders
{
	padding-left: 10%;
	padding-right: 10%;
	margin-left: auto;
	margin-right: auto;
}

.item img
{
	margin-right: auto;
	margin-left: auto;
}

#textContent
{
	/*margin-top: 1px;*/
}

.content-part
{
	padding: 1%;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 3em;
	cursor: default;
}

.content-part:hover
{
	background-color: #F5F5F5;
}

.part-title
{
	font-size: 1.5em;
	font-weight: 700;
	border-bottom: 1px solid #EEEEEE;
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.sub-part
{
	display: inline-block;
	width: 40%;
	margin: 8px 4%;
	vertical-align: top;
	cursor: default;
<<<<<<< HEAD:front-end/static/css/index.css
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
=======
	margin-bottom: 50px;
	padding: 30px;
>>>>>>> d99c62b9945b42296a5f3f54459bf5def826c7de:static/css/index.css
}

.sub-part:hover
{
	background-color: #EE5C42;
}

.icon
{
	display: block;
	font-size: 6em;
	text-align: center;
}

/**************footer*************/
#footer
{
	background-color: #F1563C;
	height: 100px;
	padding: 30px;
	text-align: center;
	color: #111;
}
